*.o
*.def
*.so
*.bundle
Makefile
*Gemfile.lock
.yardoc
.DS_Store
desktop.ini
cert.pem
cacert.pem
.idea
.rubocop-http*
cosmos/spec/install/outputs
cosmos/spec/examples.txt
coverage/
profile/

# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore Byebug command history file.
.byebug_history

# Ignore node modules
node_modules

yarn.lock
