# encoding: ascii-8bit

# Copyright 2022 Ball Aerospace & Technologies Corp.
# All Rights Reserved.
#
# This program is free software; you can modify and/or redistribute it
# under the terms of the GNU Affero General Public License
# as published by the Free Software Foundation; version 3 with
# attribution addendums as found in the LICENSE.txt
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.

# Modified by OpenC3, Inc.
# All changes Copyright 2022, OpenC3, Inc.
# All Rights Reserved

version: "3.5"

services:
  openc3-minio:
    image: "${OPENC3_REGISTRY}/openc3/openc3-minio:${OPENC3_TAG}"
    volumes:
      - "openc3-minio-v:/data"
      - "./cacert.pem:/devel/cacert.pem"
    command: ["server", "/data"]
    restart: "unless-stopped"
    environment:
      MINIO_ROOT_USER: "${OPENC3_MINIO_USERNAME}"
      MINIO_ROOT_PASSWORD: "${OPENC3_MINIO_PASSWORD}"
      SSL_CERT_FILE: "/devel/cacert.pem"
      CURL_CA_BUNDLE: "/devel/cacert.pem"
      REQUESTS_CA_BUNDLE: "/devel/cacert.pem"
      NODE_EXTRA_CA_CERTS: "/devel/cacert.pem"

  openc3-redis:
    image: "${OPENC3_REGISTRY}/openc3/openc3-redis:${OPENC3_TAG}"
    volumes:
      - "openc3-redis-v:/data"
      - "./cacert.pem:/devel/cacert.pem"
      - "./openc3-redis/users.acl:/config/users.acl"
    restart: "unless-stopped"
    environment:
      SSL_CERT_FILE: "/devel/cacert.pem"
      CURL_CA_BUNDLE: "/devel/cacert.pem"
      REQUESTS_CA_BUNDLE: "/devel/cacert.pem"
      NODE_EXTRA_CA_CERTS: "/devel/cacert.pem"

  openc3-redis-ephemeral:
    image: "${OPENC3_REGISTRY}/openc3/openc3-redis:${OPENC3_TAG}"
    volumes:
      - "./cacert.pem:/devel/cacert.pem"
      - "./openc3-redis/users.acl:/config/users.acl"
    restart: "unless-stopped"
    command: ["redis-server", "/config/redis_ephemeral.conf"]
    environment:
      SSL_CERT_FILE: "/devel/cacert.pem"
      CURL_CA_BUNDLE: "/devel/cacert.pem"
      REQUESTS_CA_BUNDLE: "/devel/cacert.pem"
      NODE_EXTRA_CA_CERTS: "/devel/cacert.pem"

  openc3-cmd-tlm-api:
    image: "${OPENC3_REGISTRY}/openc3/openc3-cmd-tlm-api:${OPENC3_TAG}"
    restart: "unless-stopped"
    depends_on:
      - "openc3-redis"
      - "openc3-redis-ephemeral"
      - "openc3-minio"
    volumes:
      - "openc3-gems-v:/gems"
      - "./cacert.pem:/devel/cacert.pem"
    environment:
      - "RAILS_ENV=production"
      - "GEM_HOME=/gems"
    env_file:
      - ".env"

  openc3-script-runner-api:
    image: "${OPENC3_REGISTRY}/openc3/openc3-script-runner-api:${OPENC3_TAG}"
    restart: "unless-stopped"
    depends_on:
      - "openc3-redis"
      - "openc3-redis-ephemeral"
      - "openc3-minio"
    volumes:
      - "openc3-gems-v:/gems:ro"
      - "./cacert.pem:/devel/cacert.pem"
    environment:
      - "RAILS_ENV=production"
      - "GEM_HOME=/gems"
    env_file:
      - ".env"

  openc3-operator:
    image: "${OPENC3_REGISTRY}/openc3/openc3-operator:${OPENC3_TAG}"
    restart: "unless-stopped"
    depends_on:
      - "openc3-redis"
      - "openc3-redis-ephemeral"
      - "openc3-minio"
    volumes:
      - "openc3-gems-v:/gems:ro"
      #- ./cacert.pem:/devel/cacert.pem
      # Add access to the entire C drive on Windows
      # - "/c:/c"
    environment:
      - "GEM_HOME=/gems"
    env_file:
      - ".env"
    extra_hosts:
      - host.docker.internal:host-gateway

  openc3-traefik:
    image: "${OPENC3_REGISTRY}/openc3/openc3-traefik:${OPENC3_TAG}"
    volumes:
      - "./cacert.pem:/devel/cacert.pem"
      - "./openc3-traefik/traefik.yaml:/etc/traefik/traefik.yaml"
      # - "./openc3-traefik/traefik-allow-http.yaml:/etc/traefik/traefik.yaml"
      # - "./openc3-traefik/traefik-ssl.yaml:/etc/traefik/traefik.yaml"
      # - "./openc3-traefik/traefik-letsencrypt.yaml:/etc/traefik/traefik.yaml"
      # - "./openc3-traefik/cert.key:/etc/traefik/cert.key"
      # - "./openc3-traefik/cert.crt:/etc/traefik/cert.crt"
    ports:
      - "127.0.0.1:2900:80"
      - "127.0.0.1:2943:443"
      # - "80:80"
      # - "443:443"
    restart: "unless-stopped"
    depends_on:
      - "openc3-redis"
      - "openc3-redis-ephemeral"
      - "openc3-minio"
    environment:
      SSL_CERT_FILE: "/devel/cacert.pem"
      CURL_CA_BUNDLE: "/devel/cacert.pem"
      REQUESTS_CA_BUNDLE: "/devel/cacert.pem"
      NODE_EXTRA_CA_CERTS: "/devel/cacert.pem"

  openc3-init:
    image: "${OPENC3_REGISTRY}/openc3/openc3-init:${OPENC3_TAG}"
    restart: on-failure
    depends_on:
      - "openc3-traefik"
      - "openc3-redis"
      - "openc3-redis-ephemeral"
      - "openc3-minio"
    volumes:
      - "openc3-gems-v:/gems"
      - "./cacert.pem:/devel/cacert.pem"
    environment:
      - "GEM_HOME=/gems"
    env_file:
      - ".env"

volumes:
  openc3-redis-v: {}
  openc3-minio-v: {}
  openc3-gems-v: {}
