<!-- prettier-ignore -->
{% assign version = page.collection | split: "_" %}
<ul>
  <!-- prettier-ignore -->
  {% for item in include.items %}
    {% assign item_url = item | replace: "_", "-" | prepend: "/" | prepend: version[1] | prepend: "/docs/" %}
    {% if item_url == page.url %}
      {% assign c = "current" %}
    {% else %}
      {% assign c = "" %}
    {% endif %}
    {% for p in site[page.collection] %}
      {% if p.url == item_url %}
  <li class="{{ c }}">
    <a href="{{ site.url }}{{ item_url }}">{{ p.title }}</a>
  </li>
  <!-- prettier-ignore -->
  {% break %}
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>
