<header role="banner">
  <nav class="mobile-nav show-on-mobiles">
    {% include primary-nav-items.html %}
  </nav>
  <div class="grid wider">
    <div class="unit one-third center-on-mobiles" style="margin-top:27px;">
      <h1>
        <a href="/">
          <span class="sr-only">COSMOS</span>
          <img src="/img/COSMOS.png" width="312" height="70" alt="COSMOS Logo">
        </a>
      </h1>
    </div>
    <nav class="main-nav unit two-thirds hide-on-mobiles">
      {% include primary-nav-items.html %}
    </nav>
  </div>
</header>
