<script>
  (function() {
    var cx = '001663949569052626382:-enhin1layy';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<ul>
  <li class="{% if page.overview %}current{% endif %}">
    <a href="/">Home</a>
  </li>
  <li class="{% if page.url contains '/docs/' %}current{% endif %}">
    <span class="hide-on-mobiles"><a href="/docs/home/">Documentation</a></span>
    <span class="show-on-mobiles"><a href="/docs/home/">Docs</a></span>
  </li>
  <li class="{% if page.author %}current{% endif %}">
    <a href="/news/">News</a>
  </li>
  <li>
    <a href="/help/">Help</a>
  </li>
  <li>
    <a href="{{ site.repository }}" target="_blank"><span class="hide-on-mobiles">View on </span>GitHub</a>
  </li>
</ul>
<ul>
  <li>
    <gcse:search></gcse:search>
  </li>
</ul>
