<ul>
  <li class="{% if page.overview %}current{% endif %}">
    <a href="/">Home</a>
  </li>
  <li class="{% if page.url contains '/docs/' %}current{% endif %}">
    <span class="hide-on-mobiles"><a href="/docs/v4/">Documentation</a></span>
    <span class="show-on-mobiles"><a href="/docs/v4/">Docs</a></span>
  </li>
  <li class="{% if page.author %}current{% endif %}">
    <a href="/news/">News</a>
  </li>
  <li>
    <a href="/help/">Help</a>
  </li>
  <li>
    <a href="{{ site.repository }}" target="_blank"
      ><span class="hide-on-mobiles">View on </span>GitHub</a
    >
  </li>
</ul>
