<nav>
  <a routerLink="/cmd-tlm-server" routerLinkActive="active"><button pButton type="button" label="Cmd Tlm Server"></button></a>
  <a routerLink="/packet-viewer" routerLinkActive="active"><button pButton type="button" label="Packet Viewer"></button></a>
  <a routerLink="/telemetry-grapher" routerLinkActive="active"><button pButton type="button" label="Telemetry Grapher"></button></a>
  <a routerLink="/limits-monitor" routerLinkActive="active"><button pButton type="button" label="Limits Monitor"></button></a>
  <a routerLink="/telemetry-viewer" routerLinkActive="active"><button pButton type="button" label="Telemetry Viewer"></button></a>
  <a routerLink="/command-sender" routerLinkActive="active"><button pButton type="button" label="Command Sender"></button></a>
</nav>
<router-outlet></router-outlet>
