---
layout: default
---

<section class="docs">
  <div class="grid wider">
    <div class="unit four-fifths">
      <article>
        <!-- Get version but ignore the "docs" collection -->
        <!-- prettier-ignore -->
        {% assign version = page.collection | split: "_" | last %}
        {% if version != "docs" %}
        <div class="improve right">
          <span class="version-badge">{{ version }}</span>
        </div>
        {% endif %} {% if page.toc %}
        <div class="toc">{{ content | toc_only }}</div>
        {% endif %}
        <h1>{{ page.title }}</h1>
        {{ content | inject_anchors }}
      </article>
    </div>

    {% include docs_contents.html %}

    <div class="clear"></div>
  </div>
</section>
