/* You can add global styles to this file, and also import other style files */
.cosmos-green {
  color: rgb(0,150,0);
}
.cosmos-yellow {
  color: rgb(190,135,0);
}
.cosmos-red {
  color: red;
}
.cosmos-blue {
  color: rgb(0,100,255);
}
.cosmos-purple {
  color: rgb(200,0,200);
}
.cosmos-black {
  color: black;
}
.cosmos-white {
  color: white;
}
