# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will download a prebuilt Ruby version, install dependencies and run tests with Rake
# For more information see: https://github.com/marketplace/actions/setup-ruby-jruby-and-truffleruby

# Reference environment variables: https://docs.github.com/en/actions/reference/environment-variables

name: OpenC3 API Tests

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

env:
  RUBYGEMS_URL: https://rubygems.org
  BUNDLE_WITHOUT: development
  OPENC3_REDIS_USERNAME: openc3
  OPENC3_REDIS_PASSWORD: openc3password
  OPENC3_REDIS_HOSTNAME: 127.0.0.1
  OPENC3_REDIS_PORT: 6379
  OPENC3_REDIS_EPHEMERAL_HOSTNAME: 127.0.0.1
  OPENC3_REDIS_EPHEMERAL_PORT: 6380
  OPENC3_SERVICE_PASSWORD: openc3service

jobs:
  cmd-tlm-api:
    if: ${{ github.actor != 'dependabot[bot]' }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: ["3.0", "3.1"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Ruby ${{ matrix.ruby-version }}
        uses: ruby/setup-ruby@v1
        env:
          OPENC3_DEVEL: ../openc3
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
          working-directory: openc3-cmd-tlm-api
      - name: Build OpenC3
        run: bundle install; bundle exec rake build
        working-directory: openc3
        env:
          OPENC3_DEVEL: ${GITHUB_WORKSPACE}/openc3
      - name: Run cmd-tlm-api tests
        run: bundle exec rspec
        working-directory: openc3-cmd-tlm-api
        env:
          OPENC3_DEVEL: ../openc3

  script-runner-api:
    if: ${{ github.actor != 'dependabot[bot]' }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: ["3.0", "3.1"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Ruby ${{ matrix.ruby-version }}
        uses: ruby/setup-ruby@v1
        env:
          OPENC3_DEVEL: ../openc3
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
          working-directory: openc3-script-runner-api
      - name: Build OpenC3
        run: bundle install; bundle exec rake build
        working-directory: openc3
      - name: Run script-runner-api tests
        run: bundle exec rspec
        working-directory: openc3-script-runner-api
        env:
          OPENC3_DEVEL: ../openc3
